dist
*.suo
/packages
/Wlog.Test/bin/
/Wlog.Test/obj/
/StyleCop.Cache
/Wlog.Library/bin
/Wlog.Library/obj
/Wlog.Web/bin
/Wlog.Web/obj
*.Cache
/.vs/
/.vs/config/applicationhost.config
/Wlog.Core/bin/Debug
/Wlog.Core/obj/Debug
/WLog.Clients.Log4Net/bin/Debug
/WLog.Clients.Log4Net/obj/Debug
