@using System.Web.Http
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Wlog.Web.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "HubLink Api docs";

    // Group APIs by controller
    ILookup<string, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor.ControllerName);
}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-link fa-fw" aria-hidden="true"></i> &nbsp; API</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>


@section Scripts {
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
}