@using PagedList.Mvc

@model Wlog.Web.Models.LogListModel



@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";

    Func<string, string> getSortOrder = (s) =>
    {
        if (string.IsNullOrEmpty(Model.SortOrder))
        {
            return "dsc";
        }

        if (string.Compare(s, Model.SortBy, true) == 0)
        {
            if (string.Compare("asc", Model.SortOrder, true) == 0)
            {
                return "dsc";
            }
        }
        return "asc";
    };

}

<style>
    input.full-text-search {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 10px;
    }
</style>

<script>
    var logTable;
    $(document).ready(function() {
       logTable=  $('#example').DataTable( 
            {
                bFilter: false,
                serverSide: true,
                processing: true,
                "ajax": {
                    "url": "/private/Search",
                    "type": "GET",
                  
                    "data": function (d) {
                        

                        var settings =
                            {
                                "applicationId": $("#ApplicationId>option:selected").val(),
                                "sortOrder": "desc",
                                "sortBy": "SourceDate",
                                "serchMessage": "",
                                "page": 1,
                                "pageSize": 10
                            };

                        if(logTable)
                        {
                            settings = {
                                "applicationId": $("#ApplicationId>option:selected").val(),
                                "sortOrder": d.order[0].dir,
                                "sortBy": d.columns[d.order[0].column].name,
                                "serchMessage":$("#SerchMessage").val(),
                                "page": logTable.page()+1,
                                "pageSize": logTable.page.len()
                            }
                        }
                        

                        return $.extend({}, {}, {
                            "applicationId": settings.applicationId,
                            "sortOrder": settings.sortOrder,
                            "sortBy": settings.sortBy,
                            "serchMessage": settings.serchMessage,
                            "page": settings.page,
                            "pageSize": settings.pageSize,
                            "draw":d.draw
                        });
                    }
                },
                "columns": [
                { "title": "Source Date",name:"SourceDate", data:"SourceDate", visible: true, 
                render: function (data, type, full, meta) {

                    var a;
                    if (typeof data === 'string') {
                        a = /\/Date\((\d*)\)\//.exec(data);
                        if (a) {
                            return new Date(+a[1]);
                        }
                    }
                    return data;

                      
                } },
                { "title": "Level", name: "Level", data: "Level", visible: true },
                { "title": "Message", name: "Message", data: "Message", visible: true },
                
                        ]
            } );
} );
</script>



    <div class="row">
        <h1>Log Messages</h1>
        @using (Html.BeginForm("Logs", "Private", FormMethod.Get, new { @role = "form" }))
        {


            <div class="row">
                
                <div class="col-md-12">

                        <div class="input-append">
                           

                        

                           
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        @Html.DropDownListFor(m => m.ApplicationId,
     new SelectList(Model.Apps, "IdApplication", "ApplicationName", Model.ApplicationId),
     new { @class = " form-control ", @style = "width:200px;background-color: #eee;" })
                                    </div>

                                    <input type="text" name="SerchMessage" id="SerchMessage" class="form-control" placeholder="Type search query ie Level:Info AND SourceDate:[20020101 TO 20030101]">
                                    
                                     <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="background-color: #eee;"><i class="glyphicon glyphicon-search" style="font-size: 20px;"></i></button>
                                    </span>
                                </div><!-- /input-group -->



                            </div>

                        <p class="help-block"> More info about query syntax  <a href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html">here</a> </p>
                 
                </div>
                
            </div>
        }
    </div>
    <div class="row">




        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>




    </div>

