<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="RepositoryConfiguration" type="Wlog.Library.BLL.Configuration.RepositoryConfiguration, Wlog.Library" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <!--<RepositoryConfiguration configSource="config\Repository.config"></RepositoryConfiguration>-->
  <RepositoryConfiguration>
    <RepositoryCollection>
      <Repository RepositoryName="UserRepository" DataBase="Wlog.Library.BLL.DataBase.UnitOfNhibernate"/>
      <Repository RepositoryName="ApplicationRepository" DataBase="Wlog.Library.BLL.DataBase.UnitOfNhibernate"/>
      <Repository RepositoryName="RolesRepository" DataBase="Wlog.Library.BLL.DataBase.UnitOfNhibernate"/>
      <Repository RepositoryName="LogRepository" DataBase="Wlog.Library.BLL.DataBase.UnitOfMongo"/>
    </RepositoryCollection>
  </RepositoryConfiguration>
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=(localdb)\Projects;initial catalog=WebLog;Integrated Security=true;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="current_session_context_class">thread_static</property>
      <property name="connection.release_mode">on_close</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>



  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\Projects;Initial Catalog=aspnet-Wlog.Web-20151111181946;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Wlog.Web-20151111181946.mdf" />
    <add name="MongoDB" connectionString="mongodb://localhost"/>
  </connectionStrings>

  <appSettings>
    <add key="MongoDbNAme" value="startup_log"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>