/*.navbar-default { background-color: #000000; border-color: #000000; }
.navbar { /*position: relative; min-height: 60px; }
.navbar-nav>li>a { line-height: 30px; font-family: 'latobold'; padding-top: 15px; padding-bottom: 2px; display: block; }
.navbar-nav>li>form>a {     padding: 10px 10px 11px 10px; font-family: 'latobold'; display: block; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { color: #FFF; background-color: transparent; border-bottom: 2px solid #FFF;}
.navbar-default .navbar-nav>li>a { color: #FFF;}
.navbar-default .navbar-nav>li>form>a { color: #FFF;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { color: #FFF; background-color: transparent; }
.navbar-default .navbar-nav>li>form>a:focus, .navbar-default .navbar-nav>li>form>a:hover { color: #FFF; background-color: transparent; }
.navbar-nav>li>a { padding-top: 15px; padding-bottom: 2px; display: block; }
.navbar-nav>li>form>a { padding-top: 15px; padding-bottom: 2px; display: block; }
.navbar-default .navbar-nav.underline>li>a:focus, .navbar-default .navbar-nav.underline>li>a:hover  { border-bottom: 2px solid #FFF; }
a.dropdown-toggle.avatar { padding-top: 8px; }
.dropdown-menu { background-color: #444444; }
.dropdown-menu .divider { margin: 0px; background-color: #000000; }
.dropdown-menu { border: 0px; border-radius: 0px; box-shadow: none; padding: 0px; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { color: #ECECEC; background-color: #444444; }  
.dropdown-menu>li>a { padding: 8px 20px; color: #aeaeae; }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { color: #aeaeae; text-decoration: none; background-color: #000000; }
  
button.btn.btn-default.menu { background: #444444; border: #444444; color: #FFF; text-transform: uppercase; margin-top: 16px; margin-right: 14px; border-radius: 2px; font-size: 11px; }
.nav .fa-caret-down:before, .nav .fa-caret-up:before { content: "\f0d7"; margin-left: 5px; color: #000; font-size: 14px; }

.dropdown .avatar img { width: 40px; }*/

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>form>a:focus {
    color: #ebebeb;
    background-color: #485563;
}

.nav>li>form>a:hover, .nav>li>form>a:focus {
    text-decoration: none;
    background-color: #4e5d6c;
}
@media (min-width: 768px) {
    .navbar-nav > li >form> a {
        padding-top: 9.5px;
        padding-bottom: 9.5px;
    }
}

.navbar-nav>li>form>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 21px;
}
.nav>li>form>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-default .navbar-nav>li>form>a {
    color: #ebebeb;
}