@model  IEnumerable<Wlog.Web.Models.ApplicationHomeModel>

@{
    ViewBag.Title = "Index";
}

<div class="Container">
    <h2>Project</h2>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-5">
                @Html.ActionLink(item.ApplicationName, "Index","Log", new { ApplicationId = item.Id },null)
            </div>
            <div class="col-sm-7"></div>
        </div>
    }
</div>
