<?xml version="1.0" encoding="utf-8"?>

<!-- Per ulteriori informazioni sull'utilizzo della trasformazione web.config, visitare http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio seguente, la trasformazione "SetAttributes" modifica il valore di 
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match" 
    individua un attributo "name" con valore "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
                                                                                                       
      <property xdt:Transform="Replace" xdt:Locator="Match(name)"  name="connection.connection_string">Server=7cd28e1f-427d-4178-bbc1-a6a50168d2e1.sqlserver.sequelizer.com;Database=db7cd28e1f427d4178bbc1a6a50168d2e1;User ID=snyhsyswjdacydkt;Password=qnUgCYcpM63irARdd2cHDRPFCd6ikF5tmfCcBRt2CRNWdHK5x6cfeZqFFnKy33dg;</property>
      <property xdt:Transform="Replace" xdt:Locator="Match(name)"  name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property xdt:Transform="Replace" xdt:Locator="Match(name)"  name="show_sql">false</property>
      <property xdt:Transform="Replace" xdt:Locator="Match(name)"  name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
      
    </session-factory>
  </hibernate-configuration>

  <appSettings>
    <add  xdt:Transform="Replace" xdt:Locator="Match(key)" key="WlogInstalled" value="True" />
  </appSettings>
  
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Nell'esempio seguente, la trasformazione "Replace" sostituisce l'intera 
      sezione <customErrors> del file web.config.
      Poiché è presente un'unica sezione customErrors nel 
      nodo <system.web>, non è necessario utilizzare l'attributo "xdt:Locator".
       -->
      <customErrors  mode="Off" xdt:Transform="Replace">
      </customErrors>

    </system.web>
</configuration>