<?xml version="1.0" encoding="utf-8"?>

<!-- Per ulteriori informazioni sull'utilizzo della trasformazione web.config, visitare http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio seguente, la trasformazione "SetAttributes" modifica il valore di 
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match" 
    individua un attributo "name" con valore "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property  xdt:Transform="Replace" xdt:Locator="Match(name)" name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property n="" xdt:Transform="Replace" xdt:Locator="Match(name)" name="connection.connection_string">server=7c1bec27-8d5d-4552-a51f-a6a5005c51c8.mysql.sequelizer.com;database=db7c1bec278d5d4552a51fa6a5005c51c8;uid=lyvdvugschjozmgh;pwd=yY7WpGqeAiTVSsuqHyxRiodDzw8mrgVUW7NoEod3RTPPcBaU6f8DeFhkUBv2GeVt</property>
    </session-factory>
  </hibernate-configuration>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Nell'esempio seguente, la trasformazione "Replace" sostituisce l'intera 
      sezione <customErrors> del file web.config.
      Poiché è presente un'unica sezione customErrors nel 
      nodo <system.web>, non è necessario utilizzare l'attributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>