@model Wlog.Web.Models.LocalPasswordModel
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "User Setting";
}

<div class="page-header">

    <h1><i class="fa fa-user-md" aria-hidden="true"></i> &nbsp; @ViewBag.Title</h1>

</div>
<div class="row">
    <p>User is logged in as <strong>@User.Identity.Name</strong>.</p>
    <div class="col-lg-6" style="border-right: solid 1px;">
        @Html.Partial("_ChangePasswordPartial",Model.Password)
    </div>
    <div class="col-lg-6">
        @Html.Partial("_ChangeEmailPartial",Model.Email)
    </div>
</div>
